//Other utilities
@import "variables";
@import "mixin";
@import "extend";

.sections {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 45% 10% 45%;
    justify-content: center;

    div {
        h2 {
            font-weight: lighter;
            font-size: 1.3em;
        }
    }

    .section1 {
        padding-top: 1rem;
        display: grid;
        justify-content: center;
        gap: .5rem;

        div {
            max-width: 400px;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 1fr 1fr 1fr;

            p {
                font-size: .85rem;
            }
        }
    }

    .scribe {
        margin: 1.5rem 80px 0 80px;
        border-bottom: $greenColor solid;
        border-top: $greenColor solid;

        a {
            text-decoration: none;
            color: $whiteColor;
            font-size: larger;
        }

        a:hover {
            color: $greenColor;
        }
    }

    .section2 {
        margin: 2rem 2rem 2rem;

        .cardCenter {
            .col {
                .bc {
                    .cardImage {
                        height: 15rem;
                    }

                    .card-body {
                        .card-title {
                            .cardLink {
                                text-decoration: none;
                                color: $whiteColor;
                            }

                            .cardLink:hover {
                                color: $greenColor;
                            }
                        }
                    }
                }
            }

            @media screen and (min-width: 720px) {
                display: flex;
                justify-content: center;
            }
        }
    }

    @media screen and (min-width: 720px) {
        max-width: 900px;
    }
}